extends layout

block content
  .maincontainer
    h1= title
    h2 Please login to continue
    button(type='button', class="butn butnPrimary full-width butn-lg", onclick="hc.login()").butn.butn-green Login
